.center{
  width: 400px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px ;
  text-align: center;
}
.center:hover{
  box-shadow: 0 0 5px 5px #c9c7c7;
}
h3:active{
color:blueviolet;
}
p{
  color: darkgrey;
}
.cancel{
  width: 180px;
  color: black;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 1.5px #D3D3D3;
  padding: 8px;
  font-weight: bold;
}
.confirm{
  width: 180px;
  color: #ffffff;
  background-color: rgb(104, 209, 228);
  border-radius: 5px;
  border: solid 1.5px #D3D3D3;
  padding: 8px;
  font-weight: bold;
}
.cancel:hover {
  background: #140e0e60;
    transition: background-color 0.8s ease-in-out 0.1s;

}
.confirm:hover {
  background: rgb(68, 136, 148);
      transition: background-color 0.8s ease-in-out 0.1s;

}
